* {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-image: url(./assets/img/desert_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Rancho", Arial, Helvetica, sans-serif;

        h1 {
            font-size: 4rem;
        }

        .canvas {
            width: 720px;
            display: flex;
            justify-content: center;

            canvas {
                background-color: beige;
            }
        }

        .mute-button-container {
            position: absolute;
            top: 10px;
            right: 10px;

            .mute-button {
                background: none;
                border: none;

                .mute,
                .unmute {
                    width: 30px;
                }
            }
        }

        .you-won {
            position: absolute;
            top: 150px;
            align-items: center;

            img {
                width: 700px;
            }
        }

        .start-screen {
            position: absolute;
            top: 40px;

            img {
                width: 720px;
                border: 3px solid black;
                border-radius: 20px;
            }
        }

        .you-lost {
            position: absolute;
            top: 70px;
        }
    }

    .d_none {
        display: none;
    }
}
