body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/desert_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Rancho", Arial, Helvetica, sans-serif;

    h1 {
        font-size: 4rem;
    }
}

canvas {
    background-color: black;
}
