* {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-image: url(../assets/img/desert_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    display: flex;
    justify-content: center;

    main {
        font-family: "Rancho", Arial, Helvetica, sans-serif;

        h1 {
            font-size: clamp(2.5rem, 2.0714rem + 2.1429vw, 4rem);
        }

        h2 {
            font-size: clamp(2rem, 1.5714rem + 2.1429vw, 3.5rem);
        }

        h3 {
            font-size: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
        }

        h4 {
            font-size: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
        }

        p {
            font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
        }
    }
}
